// tippy.jsのカスタムテーマ
.tippy-box[data-theme~="custom"] {
  background-color: $linkColor;
  color: #fff;
  & .tippy-arrow {
    color: $linkColor;
  }
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 2.5px;
    color: $linkColor;
    font-size: 0.15rem;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    &:hover {
      opacity: 0.5;
    }
    @include sp {
      height: 20px;
    }
  }
  &__label {
    padding-top: 2px;
    font-size: 0.1rem;
  }
}
