.icon-title {
  display: flex;
  justify-content: center;
  align-items: center;
  &__title {
    font-size: 0.1rem;
    font-weight: bold;
    @include sp {
      font-size: 0.08rem;
    }
  }
  &__icon {
    width: 15px !important;
    height: 15px !important;
    margin-right: 10px;
  }
  &_state_column {
    flex-direction: column;
    svg[class*="__icon"] {
      margin-right: 0;
      padding-bottom: 2px;
    }
  }
}
